<!-- 首頁 Banner 區塊（Swiper 輪播） -->
<section id="banner" style="background: #F9F3EC ; padding: 50px 0;">
  <div class="container">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide py-5">
          <div class="row banner-content align-items-center">
            <div class="img-wrapper col-md-5">
              <img src="/images/banner1.png" class="img-fluid">
            </div>
            <div class="content-wrapper col-md-7 p-5 mb-5">
              <div class="secondary-font text-primary text-uppercase mb-4">毛孩限定活動開跑</div>
              <h2 class="banner-title display-1 fw-normal">毛起來玩 <span class="text-primary">汪趣無限</span>
              </h2>
              <!-- 按鈕 -->
              <!-- <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                立即選購
                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                  <use xlink:href="#arrow-right"></use>
                </svg></a> -->
            </div>
          </div>
        </div>
        <div class="swiper-slide py-5">
          <div class="row banner-content align-items-center">
            <div class="img-wrapper col-md-5">
              <img src="/images/banner2.png" class="img-fluid">
            </div>
            <div class="content-wrapper col-md-7 p-5 mb-5">
              <div class="secondary-font text-primary text-uppercase mb-4">商城新品軟綿上架</div>
              <h2 class="banner-title display-1 fw-normal">汪物新品 <span class="text-primary">旺到不行</span>
              </h2>
              <!-- 按鈕 -->
              <!-- <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                立即選購
                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                  <use xlink:href="#arrow-right"></use>
                </svg></a> -->
            </div>
          </div>
        </div>
        <div class="swiper-slide py-5">
          <div class="row banner-content align-items-center">
            <div class="img-wrapper col-md-5">
              <img src="/images/banner3.png" class="img-fluid">
            </div>
            <div class="content-wrapper col-md-7 p-5 mb-5">
              <div class="secondary-font text-primary text-uppercase mb-4">萌寵課程開心上線</div>
              <h2 class="banner-title display-1 fw-normal">萌力提升 <span class="text-primary">幸福滿滿</span>
              </h2>
              <!-- <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                立即選購
                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                  <use xlink:href="#arrow-right"></use>
                </svg></a> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Swiper 分頁小圓點 -->
      <div class="swiper-pagination mb-5"></div>
    </div>
  </div>
</section>