@model PetSocietyWeb.Models.Generated.Activity

@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-3">新增活動</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label">舉辦人</label>
                <select asp-for="MemberId" asp-items="ViewBag.MemberList" class=" form-control">
                    <option value="" disabled selected>-- 請選擇分類 --</option>
                </select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">活動標題</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">活動描述</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">活動開始時間</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">活動結束時間</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">地點</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCapacity" class="control-label">最大參與人數</label>
                <input asp-for="MaxCapacity" class="form-control" />
                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationStartTime" class="control-label">報名開始時間</label>
                <input asp-for="RegistrationStartTime" class="form-control" />
                <span asp-validation-for="RegistrationStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationEndTime" class="control-label">報名結束時間</label>
                <input asp-for="RegistrationEndTime" class="form-control" />
                <span asp-validation-for="RegistrationEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">活動狀態</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label">緯度</label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label">經度</label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <label asp-for="ActivityImg" class="control-label">活動圖片連結</label>
            <input asp-for="ActivityImg" class="form-control" id="ActivityImg" />
            <span asp-validation-for="ActivityImg" class="text-danger"></span>
            <div class="input-group mt-2">
                <input type="file" id="imageInput" class="form-control" />
                <button type="button" class="btn btn-primary" onclick="uploadImage()">上傳圖片</button>
            </div>
            <p id="imageUrl" style="color:green">請發送圖片</p>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> 返回列表
                </a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h2>新增圖片預覽</h2>
        <img id="newImagePreview" style="width:320px;height:200px; border: 1px dashed #ccc;" src="https://i.ibb.co/HLZtP7jw/no-image-symbol-missing-available-icon-gallery-vector-45703245.webp" alt="新增圖片預覽" />
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        function uploadImage() {
            var input = document.getElementById("imageInput");
            var file = input.files[0];
            var previewImg = document.getElementById("newImagePreview");

            if (!file) {
                alert("請選擇一張圖片！");
                return;
            }

            var reader = new FileReader();

            reader.onload = function(e) {
            previewImg.src = e.target.result;
            };
            reader.readAsDataURL(file);

            var apiKey = 'd25e155d259cedb3954587a69e1b653d';

            var formData = new FormData();
            formData.append("image", file);
            fetch("https://api.imgbb.com/1/upload?key=" + apiKey, {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById("ActivityImg").value = data.data.url;
                    document.getElementById("imageUrl").innerHTML = "圖片上傳成功！";
                } else {
                    alert("上傳失敗，請再試一次！");
                }
            })
            .catch(error => {
                console.error('錯誤:', error);
                alert("發生錯誤！");
            });
        }
    </script>
}
