.back-text-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-color);
  /* 你的字體主色 */
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
}

/* hover 奶茶色 */
.back-text-btn:hover {
  color: var(--accent-color);
}

.back-text-btn i {
  font-size: 1rem;
}